{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Owly</title>
        <!-- Enlazo mi css -->
        <link rel="stylesheet" href="{% static 'estilos.css' %}">
    </head>

    <body>
        <div>
            <h1>owly</h1>
                <p>Bienvenido, {{ user.username }}!</p>
        </div>

        <form action="{% url 'logout' %}" method="post"> <!-- El formulario envía una petición POST válida hacia /accounts/logout/.-->
            {% csrf_token %}
            <button type="submit">Cerrar Sesión</button>
        </form>
    </body>
</html>
